@import "../../styles//mixin";

$background: color("background");
$text: color("primary");

.header {
  background: $background;
  &Logo {
    margin: 0;
    font-size: 45px;
    padding: 1rem;
    color: $text;
    letter-spacing: 2px;
    font-weight: 300;
  }
}