{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
      }
  },
  "rules": {
    "react/prefer-stateless-function": [true, { "ignorePureComponents":true }],
    "no-console": ["error", { "allow": ["warn", "debug"] }],
    "jsx-a11y/label-has-for": "off",
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": [true, "always", { "ignoreClassFields": true }]
  }
}