@import "../../styles/theme";
@import "../../styles/mixin";

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: appColor($darkTheme, 'primary');
}
a:hover {
  color: appColor($darkTheme, 'secondary');
}
.actived {
  border-bottom: 3px solid appColor($darkTheme, 'primary');
}