@import "../../styles/mixin";

.iconLink {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  color: textColor("primary");
  text-transform: uppercase;
  &:hover,  &:active{
    color: color("primary");
  }

  &Icon {
    /** Should be change to components. */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 10px;
  }
}