@import "../../../styles/mixin";

$background: rgba(color("primary"), 0.5);
$text: textColor("primary");

.menu {
  position: relative;
  &Arrow{
    position: absolute;
    top: -10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $background;
  }

  ul {
    background: $background;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    color: $text;
    justify-content: flex-end;
    li {
      padding: 0.5rem;
    }
  }
}