.preparing {
  margin-top: 30vh;
  text-align: center;
  color: darkred;
}

.border {
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
}

.resultContainer {
  margin-top: 60px;
}

.result {
  padding: 20px;
}