{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "jsx": true,
    "useJSXTextNode": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "react-app", "airbnb-base"],
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}